*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(166, 30, 0);
}
.Inicio_Top{
    display: flex;
    background-color: rgb(129, 0, 0);
    padding: 1%;
    border: 2px solid black;
}
#Titulo{
    width: 300px;
}
#B_Pokemons{
    width: 200px;
    display: block;
    margin-left: 50px;
    background: none;    /* Remove o fundo cinza padrão */
    border: none;        /* Remove a borda padrão */
    padding: 0;          /* Remove o espaçamento interno */
    cursor: pointer;     /* Faz o mouse virar a "mãozinha" */
}
#B_Deck{
    width: 200px;
    display: block;
    margin-left: 20px;
    background: none;    /* Remove o fundo cinza padrão */
    border: none;        /* Remove a borda padrão */
    padding: 0;          /* Remove o espaçamento interno */
    cursor: pointer; 
}
#B_Login{
    width: 200px;
    display: block;
    margin-left: 400px;
    background: none;    /* Remove o fundo cinza padrão */
    border: none;        /* Remove a borda padrão */
    padding: 0;          /* Remove o espaçamento interno */
    cursor: pointer; 
}
#poke_contain{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.card-pokemon {
    background-color: white !important;
    color: #333;
    border: 2px solid black;
    width: 300px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-pokemon img {
    width: 100px;
    height: 100px;
}
.card-pokemon:hover {
    transform: scale(1.05);
}