*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(166, 30, 0);
}
.Inicio_Top{
    display: flex;
    background-color: rgb(129, 0, 0);
    padding: 1%;
    border: 2px solid black;
}
#Titulo{
    width: 300px;
}
#B_Pokemons{
    padding: 5px 15px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: aqua;
    font-weight: bold;
    margin-left: 40px;
    box-shadow: 0 2px #000000;

    transition: all 0.1s;
    position: relative;
    outline: none;
}
#B_Pokemons:hover{
    background-color: aquamarine;
}
#B_Pokemons:active{
    transform: translateY(2px);
    box-shadow: 0px 0px #000000;
}
#B_Deck{
    padding: 5px 15px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: aqua;
    font-weight: bold;
    margin-left: 10px;
    box-shadow: 0 2px #000000;

    transition: all 0.1s;
    position: relative;
    outline: none;
}
#B_Deck:hover{
    background-color: aquamarine;
}
#B_Deck:active{
    transform: translateY(2px);
    box-shadow: 0px 0px #000000;
}
#B_Login{
    padding: 5px 15px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: aqua;
    margin-left: auto;
    font-weight: bold;

    box-shadow: 0 2px #000000;

    transition: all 0.1s;
    position: relative;
    outline: none;
}
#B_Login:hover{
    background-color: aquamarine;
}
#B_Login:active{
    transform: translateY(2px);
    box-shadow: 0px 0px #000000;
}
#poke_contain{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.card-pokemon {
    background-color: white !important;
    color: #333;
    border: 2px solid black;
    width: 200px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card-pokemon img {
    width: 100px;
    height: 100px;
}
.card-pokemon:hover {
    transform: scale(1.05);
}