*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    image-rendering: pixelated;
}
@keyframes iniciar {
    0% {
        transform: translateY(-100px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}
@keyframes CardSpawn{
    0%{
        transform: scale(0%);
        opacity: 0%;
        }
    100%{
        transform: scale(100%);
        opacity: 100%;
    }
}
body{
    background-image: url('./Imagems_Extras/Fundo Copia.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.Inicio{
    display: flex;
    justify-content: center;
}
#margem_pixel{
    display: flex;
    position: relative;
    width: 1270px;
    height: 125px;
    animation: iniciar 1s ease-in-out normal;
}
#Titulo{
    position: absolute;
    width: 370px;
    margin-top: 15px;
    margin-right: 850px;
    animation: iniciar 1s ease-in-out normal;
}
#B_Pokemons{
    position: absolute;
    width: 240px;
    margin-top: 20px;
    margin-right: 240px;
    background: none;    /* Remove o fundo cinza padrão */
    border: none;        /* Remove a borda padrão */
    padding: 0;          /* Remove o espaçamento interno */
    cursor: pointer;     /* Faz o mouse virar a "mãozinha" */
    animation: iniciar 1s ease-in-out normal;
}
#B_Deck{
    position: absolute;
    width: 240px;
    display: block;
    margin-top: 20px;
    margin-left: 250px;
    background: none;    /* Remove o fundo cinza padrão */
    border: none;        /* Remove a borda padrão */
    padding: 0;          /* Remove o espaçamento interno */
    cursor: pointer; 
    animation: iniciar 1s ease-in-out normal;
}
#B_Login{
    position: absolute;
    width: 240px;
    display: block;
    margin-top: 20px;
    margin-left: 900px;
    background: none;    /* Remove o fundo cinza padrão */
    border: none;        /* Remove a borda padrão */
    padding: 0;          /* Remove o espaçamento interno */
    cursor: pointer; 
    animation: iniciar 1s ease-in-out normal;
}
#poke_contain{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    justify-content: center;
}
.card{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 336px;
    animation: CardSpawn 0.5s ease-in-out normal;
}
.pokemons{
    position: absolute;
    display: block;
    width: 140px;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease
}
.Fim{
    display: flex;
    justify-content: center;
}
#B_Proximo{
    width: 100px;
    order: 2;
}
#B_Anterior{
    width: 100px;
    order: 1;
    transform: scaleX(-1);
}