:root{
    --cor-principal: black
}
@font-face{
    font-family: 'Aseprite Font';
    src: url(./Fonts/aseprite.otf) format('opentype');
    font-weight:normal;
    font-style: normal;
}
@font-face{
    font-family: 'Aseprite Mini Font';
    src: url(./Fonts/aseprite-mini.otf) format('opentype');
    font-weight:normal;
    font-style: normal;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    image-rendering: pixelated;
    font-family: 'Aseprite Font';
    vertical-align: middle;
}
@keyframes iniciar {
    0% {
        transform: translateY(-100px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}
@keyframes CardSpawn{
    0%{
        transform: translateX(-50px);
        opacity: 0%;
        }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}
@keyframes CardDespawn{
        0%{
        transform: translateX(0px);
        opacity: 0%;
        }
    100%{
        transform: translateX(-50px);
        opacity: 100%;
    }
}

body{
    min-height: 100vh;
    background-image: url('./Imagems_Extras/Fundo_Copia2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.Inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1289px;
    height: 200px;
    gap: 5px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 4%;
    margin-bottom: 0px;
}
@media(max-width: 768px) {
    .margem_pixel {
        flex-wrap: wrap; /* Permite que os itens "quebrem" para a linha de baixo se necessário */
        justify-content: space-around;
    }
    .card{
        width: 150px;
        height: 210px;
    }
    #Titulo {
        width: 80%; /* No celular o título fica grande no topo */
    }

    #B_Pokemons, #B_Deck, #B_Login {
        width: 28%; /* Os botões ficam menores para caberem lado a lado abaixo do título */
    }
    .Titulo_Login{
        display: flex;
        font-size: clamp(5rem, 10vw, 50rem);
        color: yellow;
}
}
.margem_pixel{
    display: flex;
    margin: 0 auto;
    background-image: url(./Imagems_Extras/Margem_PixelMon.png);
    background-position: center center;
    background-size: 100% 100%;


    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2% 4%;
    max-width: 1300px;
    height: auto;
    min-height: 140px;

    animation: iniciar 1s ease-in-out normal
}
    #Titulo img, #B_Home img, #B_Deck img, #B_Login img{
    margin: 0;
    max-width: 100%;
    height: auto;
    display: block;
    animation: iniciar 1s ease-in-out normal;
    }
    #Titulo{
        width: 40%;       /* Título um pouco maior */
    }
    #B_Deck, #B_Login{
        width: 30%
    }
    #B_Home{
        width: 15%;
    }
.Area_Login {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 75vh;
    max-height: 640px;
    gap: 60px;
    
    /* Suas configurações de fundo */
    background-image: url('./Imagems_Extras/Login.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    align-items: center;
    justify-content: center;
    animation: iniciar 1.5s ease-in-out normal;

        .Campos_Login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; 
        width: 40%; 
    }

    .Campos_Login input, .Campos_Login button {
        padding: 5% 30% 4% 3% ;
        font-size: 69%;
        border-radius: 20px;     /* Opcional: deixa as bordas arredondadas */
        border: 2px solid #000000;
    }
    .Campos_Login button {
        &:hover{
            background-color: blue;
        }
    }
}
.Titulo_Login{
        display: flex;
        font-size: clamp(1.2rem, 5.5vw, 10rem);
        color: yellow;
}
.CriarContaText{
    color: aqua;
    &:hover{
        transition: 0.1s ease-in-out;
        transform: scalex(1.3);
        transform: scaley(1.3);
        color: blue;
    }
}